$gray: #f0f0f0;

.gantt {
  height: calc(100vh - 30px - 30px);
  width: 100%;
  outline: 1px solid $gray;
  position: relative;

  &-chart {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    z-index: 100;
  }

  &-header {
    background-color: #fff;
    outline: 1px solid $gray;
    position: absolute;
    z-index: 1000;
    top: 0;
  }

  &-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-right: 16px;
  }

  &-timeline {
    position: relative;
    text-align: center;

    &-blocks {
      display: flex;
    }

    &-day {
      outline: 1px solid $gray;
    }

    &-hours {
      display: flex;

      &>div {
        height: 100%;
        font-size: 0.8rem;
        outline: 1px solid $gray;

        & span {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }


    &-forbiddens {
      position: absolute;
      z-index: -1;

      &>div {
        height: 100%;
        background-color: #879092;
        position: absolute;
      }
    }

  }

  &-fixleft {
    box-sizing: border-box;
    border-right: 1px solid $gray;
    height: 100%;
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: rgb(255, 255, 255);
  }

  &-lefthearder {
    width: 100%;
    background: #747e80;
    color: #fff;
    text-align: center;
  }

  &-leftbar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);

    &-item {
      display: flex;
      outline: 1px solid $gray;
    }

    &-series {
      display: flex;
      flex-direction: column;

      &>div {
        box-sizing: border-box;
        border-bottom: 1px solid $gray;
      }
    }
  }

  &-markline {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &-block {
    display: flex;

    &-name {
      min-width: 100px;
    }

    &-series {
      &>div {
        display: flex;
      }

      &-container {
        position: relative;
        height: 100%;
      }

      &-timeline {
        display: flex;
        position: relative;
        z-index: -1;
        height: 100%;

        &>div {
          height: 100%;
          outline: 1px solid $gray;
        }
      }

      &-blocks {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;

        &>div {
          position: absolute;
          height: 100%;
          box-sizing: border-box;
          border: 1px solid $gray;
          border-radius: 10px;
          color: #fff;
        }
      }

      &-forbiddens {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -2;

        &>div {
          height: 100%;
          background-color: #879092;
          position: absolute;
        }
      }

      &-name {
        width: 100px;
        height: 100%;
      }
    }
  }
}

.project {
  background-color: #fec536;
}

.plan {
  background-color: #3c73f2;
}

.actual {
  background-color: #fc4747;
}