$gray: #f0f0f0;

$font-gray:#777;

.gantt {
  &-chart {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    outline: 1px solid $gray;
  }

  &-header {
    display: flex;
    background-color: #fff;
    outline: 1px solid $gray;

    &-title {
      width: 100%;
      background: #747e80;
      color: #fff;
      text-align: center;
    }

    &-timeline {
      overflow: hidden;
    }
  }

  &-body {
    position: relative;
  }

  &-timeline {
    position: relative;
    text-align: center;
    display: flex;

    &-block:nth-child(odd) {
      // background-color: #d5e4f3;
    }

    &-block:nth-child(even) {
      // background-color: #cadbfc;
    }

    &-day {
      font-weight: bold;
      color: $font-gray;
    }

    &-hours {
      display: flex;

      &>div {
        height: 100%;
        font-size: 0.8rem;
        font-weight: bold;

        color: $font-gray;
      }
    }
  }

  &-leftbar {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: $font-gray;
    font-size: 0.8rem;

    &-item {
      outline: 1px solid $gray;
    }
  }



  &-table {
    display: flex;
    width: calc(100% - 17px);
    height: calc(100% - 17px);
  }

  &-blocks-wrapper {
    overflow: hidden;
  }

  &-leftbar-wrapper {
    position: relative;
    overflow: hidden;
    outline: 1px solid $gray;
    z-index: 100;
  }

  &-markline-area {
    position: relative;
    z-index: 99;
  }

  &-markline {
    position: absolute;
    z-index: 100;
    width: 2px;
    height: 100vh;

    &-content {
      padding: 3px;
      float: left;
      color: #fff;
      font-size: 0.7rem;
    }
  }

  &-block {
    position: relative;
    background-image: url('/src/assets/block.png');
    background-repeat: repeat;

    &-container {
      position: relative;
      height: 100%;
    }

    &-item {
      position: absolute;
      height: 100%;
    }
  }

  &-scroll-y {
    overflow-y: scroll;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 17px;

    &>div {
      width: 17px;
    }
  }

  &-scroll-x {
    overflow-x: scroll;
    position: absolute;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: calc(100% - 17px);
    height: 17px;

    &>div {
      height: 17px;
    }
  }
}