@import "./normalize.css";
$W-desc: 200px;
$W-header: 30px;
$gray: #f0f0f0;
body {
  font: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #abcdef, #f3f5f7);
}

#app {
  padding: 0 10px;
}

.top-bar {
  height: $W-header;
}

.gantt {
  height: calc(100vh - 30px - 30px);
  width: 100%;
  outline: 1px solid $gray;
  position: relative;
  &-chart {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    z-index: 100;
  }
  &-header {
    background-color: #fff;
    display: flex;
    outline: 1px solid $gray; //width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
  }
  &-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-right: 16px; //margin-left: -17px;
  }
  &-desc {}
  &-timeline {
    position: relative;
    &-blocks {
      display: flex;
      flex-direction: row;
    }
    &-day {
      text-align: center;
      outline: 1px solid $gray;
    }
    &-hours {
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
    }
    &-hour {
      text-align: center;
      font-size: 0.8rem;
      outline: 1px solid $gray;
    }
    &-forbiddens {
      position: absolute;
      z-index: -1;
    }
    &-forbidden {
      background-color: #879092;
      position: absolute;
    }
  }
  &-fixleft {
    box-sizing: border-box;
    border-right: 1px solid $gray;
    width: 200px;
    height: 100%;
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(255, 255, 255);
    &-header {
      width: 100%;
      background: #fff;
      position: relative;
      top: 0px;
      left: 0px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
    &-items {
      width: 200px;
      position: absolute;
      top: 20px;
      left: 0px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      background: rgb(255, 255, 255);
    }
    &-item {
      display: flex;
    }
    &-name {
      width: $W-desc/2;
    }
    &-series {
      width: $W-desc/2;
      display: flex;
      flex-direction: column;
      &>div {
        box-sizing: border-box;
        border-bottom: 1px solid $gray;
      }
    }
  }
  &-markline {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
  }
  &-block {
    display: flex;
    &-name {
      min-width: 100px;
    }
    &-series {
      &-plan {
        display: flex;
        & .gantt-block-contains-block {
          background-color: #fdb525;
        }
      }
      &-project {
        display: flex;
        & .gantt-block-contains-block {
          background-color: #29c432;
        }
      }
      &-actual {
        display: flex;
        & .gantt-block-contains-block {
          background-color: #94bae3;
        }
      }
      &-name {
        width: 100px;
        height: 100%;
      }
    }
    &-timeline {
      position: relative;
      height: 100%;
      &-blocks {
        display: flex;
        position: relative;
        z-index: -1;
        height: 100%;
      }
      &-block {
        height: 100%;
        outline: 1px solid $gray;
      }
    }
    &-forbiddens {
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -2;
    }
    &-forbidden {
      height: 100%;
      background-color: #879092;
      position: absolute;
    }
    &-contains {
      position: absolute;
      height: 100%;
      top: 0;
      z-index: -1;
    }
    &-contains-block {
      position: absolute;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid $gray;
      border-radius: 10px;
    }
  }
}

.main-footer {
  height: $W-header;
}